@import 'scss/imports';

.Header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    padding: 0 vw(42);
    position: fixed;
    top: 0;
    &_logo {
        max-width: 20%;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
    }
    nav {
        max-width: 60%;
        flex-grow: 2;
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            li {
                margin: 0 vw(21);
                a {
                    font-weight: 300;
                    color: black;
                }
            }
        }
    }
    &_controls {
        max-width: 20%;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        p {
          font-weight: 300;
          color: black;
        }
        button {
            border: unset;
            background: unset;
            margin-left: vw(21);
            transition: color 1s;
            cursor: pointer;
            svg {
                height: rem(22);
                stroke-width: 1;
            }
            &:last-child {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $bp-5 + px) {
    .Header {
        padding: 0 vw(21, $bp-5);
        &_logo {
            max-width: 50%;
        }
        nav {
            display: none;
        }
        &_controls {
            max-width: 50%;
            p {
              display: none;
            }
            button {
                margin-left: vw(21, $bp-5);
                svg {
                    height: rem(22, $bp-5);
                }
                &:last-child {
                    display: block;
                }
            }
        }
    }
}