@import 'scss/imports';

.Header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: saturate(180%) blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    padding: 0 vw(42);
    position: fixed;
    top: 0;
    z-index: 2;
    transition: background 1s;
    &_logo {
        max-width: 20%;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
    }
    nav {
        max-width: 60%;
        flex-grow: 2;
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            li {
                margin: 0 vw(21);
                a {
                    @include text(rem(18), 300, unset, unset, black);
                    transition: color 1s;
                }
            }
        }
    }
    &_controls {
        max-width: 20%;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        button {
            border: unset;
            background: unset;
            margin-left: vw(21);
            transition: color 1s;
            cursor: pointer;
            svg {
                height: rem(22);
                stroke-width: 1;
            }
            &:last-child {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $bp-5 + px) {
    .Header {
        padding: 0 vw(21, $bp-5);
        &_logo {
            max-width: 50%;
        }
        nav {
            display: none;
        }
        &_controls {
            max-width: 50%;
            button {
                margin-left: vw(21, $bp-5);
                svg {
                    height: rem(22, $bp-5);
                }
                &:last-child {
                    display: block;
                }
            }
        }
    }
}