@import 'scss/imports';

.Subtitle {
  font-size: 20px;
  // font-weight: $weight;
  // letter-spacing: .5px;
  line-height: 1.35;
}

@media screen and (max-width: $sm + px) {
  .Subtitle {
    font-size: 18px;
  }
}