@import 'scss/imports';

.CardNewsBig {
  width: 100%;
  display: flex;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  &_media {
    min-width: 46.5vw;
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5vw;
    small {
      font-weight: 300;
      color: black;
      margin-bottom: .625vw;
    }
    h3 {
      flex-grow: 2;
      font-weight: 600;
      color: black;
    }
    p {
      font-weight: 300;
      color: black;
    }
  }
}