@import 'scss/imports';

.CardNewsBig {
  width: 100%;
  display: flex;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  &_media {
    min-width: 46.5vw;
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.5vw;
    small {
      font-weight: 300;
      color: black;
    }
    h3 {
      flex-grow: 2;
      font-weight: 600;
      color: black;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      line-clamp: 5;
      box-orient: vertical;
      margin: .625vw 0;
    }
    p {
      font-weight: 300;
      color: black;
    }
  }
}

@media screen and (max-width: $lg + px) {
  .CardNewsBig {
    flex-direction: column;
    &_media {
      min-width: 100%;
    }
    &_info {
      padding: 1.25vw 2.5vw;
      h3 {
        -webkit-line-clamp: 3;
        line-clamp: 3;
        margin: 1.25vw 0;
      }
    }
  }
}