@import 'scss/imports';

.Plug {
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        @include text(rem(32), 400, unset, unset, black);
        margin-bottom: rem(6);
        text-align: center;
    }
    h2 {
        @include text(rem(32), 400, unset, unset, black);
        margin-bottom: rem(6);
        text-align: center;
    }
    h3 {
        @include text(rem(30), 400, unset, unset, black);
        margin-bottom: rem(6);
        text-align: center;
    }
    form {
        position: relative;
        &.success {
            &::after {
                content: 'You breathtaking!';
                width: 100%;
                height: 100%;
                @include text(rem(14), 300, unset, unset, black);
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        input {
            @include text(rem(14), 300, unset, unset, black);
            outline: unset;
            padding: rem(6) vw(21);
            background: unset;
            border: 1px solid rgba(160, 160, 160, 0.5);
        }
        button {
            @include text(rem(14), 300, unset, unset, black);
            outline: unset;
            padding: rem(6) vw(21);
            background: unset;
            border: 1px solid rgba(160, 160, 160, 0.5);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: $bp-5 + px) {
    .Plug {
        form {
            input {
                @include text(rem(14, $bp-5), 300, unset, unset, black);
                padding: rem(6, $bp-5) vw(21, $bp-5);
            }
            button {
                @include text(rem(14, $bp-5), 300, unset, unset, black);
                padding: rem(6, $bp-5) vw(21, $bp-5);
            }
        }
    }
}