@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-Thin.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-Light.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-SemiBold.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-variant: normal;
  font-feature-settings: normal;
  font-stretch: normal;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    url('/fonts/Gilroy/Gilroy-Black.woff2') format('woff2')
}
