@import 'scss/imports';

.News {
    &_section {
        width: 76.25vw;
        margin-right: 2.5vw;
        float: right;
        h1 {
            font-weight: normal;
            color: black;
            margin: 2.5vw 0;
        }
        &_cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.25vw;
            padding: 1.25vw 0;
        }
    }
}