@import 'scss/imports';

.Article {
  width: 550px;
  margin: 0 auto;
  padding: 2.5vw 0;
  &_date {
    width: 100%;
    font-weight: normal;
    color: black;
  }
  &_title {
    width: 100%;
    font-weight: bold;
    color: black;
    margin: 1.25vw 0 2.5vw;
  }
  &_subtitle {
    width: 100%;
    font-weight: 500;
    color: black;
    margin-bottom: 2.5vw;
  }
  &_media {
    width: 100%;
    margin-bottom: 2.5vw;
    div {
      border-radius: 8px;
      overflow: hidden;
    }
    figcaption {
      margin-top: 1%;
      small {
        font-weight: 300;
        color: #000000B2;
      }
    }
  }
}