@import 'scss/imports';

.Heading {
  font-size: 40px;
  // font-weight: $weight;
  // letter-spacing: .5px;
  line-height: 1.2;
}

@media screen and (max-width: $sm + px) {
  .Heading {
    font-size: 38px;
  }
}