@import 'scss/imports';

.Home {
  &_banner {
    &_slide {
      &:hover &_info {
        span {
          margin-right: 1.25vw;
        }
      }
      &_info {
        display: flex;
        color: white;
        position: absolute;
        left: 7.5vw;
        bottom: 2.5vw;
        span {
          font-weight: 500;
          margin-right: .625vw;
          transition: all .5s;
        }
        div {
          display: flex;
          svg {
            height: 100%;
            path {
              fill: currentColor;
            }
          }
        }
      }
    }
  }
  section {
    width: 75vw;
    height: 100vh;
    margin-right: 2.5vw;
    float: right;
    background-color: rgb(143, 143, 143);
  }
}