@media screen and (min-width:1441px) {
    .bigCard {
        .card:first-child {
            width: calc(68% - 1.25vw);
            .card_image {
                mask-repeat: no-repeat;
                mask-position: center;
                mask-size: cover;
            }
            .card_info_text {
                padding: 15px 20px;
            }
            .card_info_text_categories {
                font-size: 16px;
            }
            .card_info_text_title {
                font-size: 28px;
                margin: 10px 0 50px;
            }
            .card_info_text_description {
                font-size: 16px;
                -webkit-line-clamp: 6;
            }
            .card_info_text_content {
                //display: none;
            }
        }
    }
}