@import './imports';
@import './typography';
@import 'public/font/Gilroy/stylesheet.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: 'Gilroy', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #ECECEC;
}

#__next {
    display: grid;
    grid-template-areas:
        "header header"
        "banner banner"
        "aside main"
        "footer footer";
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
    width: 21.25vw;
    display: flex;
    flex-direction: column-reverse;
    padding: 2.5vw 1.25vw;
}

main {
    grid-area: main;
    width: 78.75vw;
    padding-right: 2.5vw;
}

footer {
    grid-area: footer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@media screen and (max-width: $sm + px) {
    aside {
        display: none;
    }
    main {
        width: 100vw;
        padding: 0 5vw;
    }
}

// @media screen and (max-width: $bp-2 + px) {
//     html, body {
//         font-size: $fs-2 + px;
//     }
// }

// @media screen and (max-width: $bp-3 + px) {
//     html, body {
//         font-size: $fs-3 + px;
//     }
// }

// @media screen and (max-width: $bp-4 + px) {
//     html, body {
//         font-size: $fs-4 + px;
//     }
// }

// @media screen and (max-width: $bp-5 + px) {
//     html, body {
//         font-size: $fs-5 + px;
//     }
// }