@import 'scss/imports';

.Logo {
    display: flex;
    align-items: baseline;
    span {
      &:first-child {
        font-weight: 600;
        text-transform: uppercase;
        color: black;
      }
        // @include text(rem(16), 400, unset, unset, black);
        // align-self: normal;
    }
    // h1 {
    //     @include text(rem(16), 400, unset, unset, black);
    // }
}

@media screen and (max-width: $bp-5 + px) {
    .Logo {
        // p {
        //     @include text(rem(20, $bp-5), 600, unset, unset, black);
        // }
    }
}