@import 'scss/imports';

.ModalNavigation {
  width: 100%;
  background: white;
  padding: rem(21, $bp-5) vw(21, $bp-5) rem(71, $bp-5);
  position: fixed;
  bottom: 0;
  z-index: 11;
  transform: translateY(100%);
  transition: transform 1s;
  &_open {
    transform: translateY(0);
  }
  &_top {
    display: flex;
    justify-content: flex-end;
  }
  nav {
    ul {
      li {
        margin-top: rem(10.5, $bp-5);
        &:first-child {
          margin-top: rem(21, $bp-5);
        }
        a {
          color: black;
        }
      }
    }
  }
}