@import 'scss/imports';

.Article {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, h2, h3, h4, h5, h6, p {
    width: 550px;
    text-align: center;
  }
  h1 {
    font-weight: bold;
    margin: 1.25vw 0 2.5vw;
  }
  h5 {
    font-weight: 500;
  }
  [data-media="true"] {
    &[data-stretched="true"] {
      width: 100vw;
    }
  }
}