@import 'scss/imports';

.Small {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  // font-weight: $weight;
  // letter-spacing: .5px;
  line-height: 1.3;
}

@media screen and (max-width: $bp-5 + px) {
  .Small {
    font-size: 12px;
  }
}