@import './vars';

@import 'public/fonts/Gilroy/stylesheet.css';
@import 'public/fonts/Icons/stylesheet.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: $fs-1 + px;
    font-family: 'Gilroy', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
@media screen and (max-width: $bp-2 + px) {
    html, body {
        font-size: $fs-2 + px;
    }
}

@media screen and (max-width: $bp-3 + px) {
    html, body {
        font-size: $fs-3 + px;
    }
}

@media screen and (max-width: $bp-4 + px) {
    html, body {
        font-size: $fs-4 + px;
    }
}

@media screen and (max-width: $bp-5 + px) {
    html, body {
        font-size: $fs-5 + px;
    }
}