@import 'scss/imports';

.MaskImage {
  width: 100%;
  height: calc(100vw / 3);
  position: relative;
  video {
    position: absolute;
  }
}
@media screen and (max-width: $lg + px) {
  .MaskImage {
    height: calc(100% / 2);
  }
}